/* footer */
section.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #FDF4C9;
    border: 1px solid #773F1F;

}

div.footer-button {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 5rem;
    top: 12rem;
    cursor: pointer;
}