::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f3976d;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.map-page {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    transition: flex-direction 0.5s;
    background-color: #FDF4C9;
    height: calc(100vh - 80px)
}
.map-page.expanded {
    flex-direction: row;
}

.map-search-bar {
    padding: 20px;
    animation: expandSearchBar 0.5s;
    background-color: #F5CFB9;
    
}

@keyframes expandSearchBar {
    from {
        width: 100px; /* Width starts from 0 */
    }
    to {
        width: 300px; /* Final width is 300px */
    }
}

.map-search-bar button {
}
.map-search-form {
    animation: expandSearchBar 0.5s;
}
.map-div {
    padding: 50px;
    max-width: 100%;
    max-height: calc(100vh - 150px);
    flex: 1;
}

.world-map-svg {
    width: 100%;
    height: auto;
}

form.map-search-form {
    width: 300px;
}
