::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f3976d;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.map-page {
    display: flex;
    flex-direction: row;
    background-color: #fdf4c9;
    height: calc(100vh - 80px);
    border: 1px solid #773F1F;
}

.map-search-bar button {
    border: none;
}
.map-search-bar {
    padding: 20px;
    width: 100px;
    height: 100%;
    background-color: #f5cfb9;
    transition: width 0.5s;
}
.map-search-form {
    width: 100px;
    height: 100%;
}

.map-page.expanded .map-search-bar {
    width: 400px;
}

.map-div {
    overflow-y: scroll;
    padding: 50px 100px;
    width: 100%;
}
.world-map-svg {
    width: 100%;
    height: auto;
}

