.festival-bar-container {
    width: 100%;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #F6F1F0;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
}

.festival-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    display: flex;
}

.festival-bar-visibel {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: 27px;
    display: inline-flex;
}

.f-dish-cards-container {
    width: 616px; 
    padding: 5px; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 18px; 
    display: inline-flex;
}